<!DOCTYPE html>

<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
    <title>e-Študent</title>

    <link rel="shortcut icon" href="/images/favicon.ico" />

    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/material.min.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <script type="text/javascript" src="/javascript/script.js"></script>
    <script type="text/javascript" src="/javascript/material.min.js"></script>
    <script type="text/javascript" src="/javascript/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="/javascript/jquery.cookie.js"></script>
  </head>

  <body>

    <div class="layout mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
      <header class="header mdl-layout__header mdl-color--blue-100 mdl-color-text--light-blue-600">
        <div class="mdl-layout__header-row">
          <span class="mdl-layout-title">e-Študent</span>
        </div>
      </header>

      <div class="drawer mdl-layout__drawer mdl-color--blue-900 mdl-color-text--light-blue-50">
        <header class="drawer-header">
          <div class="avatar-dropdown">
            <span>Hello {{user.firstName}} {{user.lastName}}</span>
            <div class="mdl-layout-spacer"></div>
            <button id="accbtn" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
              <i class="material-icons" role="presentation">arrow_drop_down</i>
              <span class="visuallyhidden">User menu</span>
            </button>
            <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="accbtn">
              <li class="mdl-menu__item"><a class="mdl-color-text--light-blue-400" href="/node/changepwd">Change password</a></li>
              <li class="mdl-menu__item" onclick="logout()"><a class="mdl-color-text--light-blue-400" href="/">Log out</a></li>
            </ul>
          </div>
        </header>
        <nav class="navigation mdl-navigation mdl-color--blue-800">
          <a class="mdl-navigation__link mdl-color-text--light-blue-400" href="/node/home">
            <i class="mdl-color-text--light-blue-400 material-icons" role="presentation">home</i>
            Home
          </a>
          {{#if user.student}}
            <a class="mdl-navigation__link mdl-color-text--light-blue-400" onclick="loadExams()">
              <i class="mdl-color-text--light-blue-400 material-icons" role="presentation">event</i>
              Exam dates
            </a>
            <a class="mdl-navigation__link mdl-color-text--light-blue-400" href="student/requests.html">
              <i class="mdl-color-text--light-blue-400 material-icons" role="presentation">help</i>
              Requests
            </a>
            <a class="mdl-navigation__link mdl-color-text--light-blue-400" href="student/index.html">
              <i class="mdl-color-text--light-blue-400 material-icons" role="presentation">check</i>
              Index
            </a>
            <a class="mdl-navigation__link mdl-color-text--light-blue-400" href="student/orders.html">
              <i class="mdl-color-text--light-blue-400 material-icons" role="presentation">message</i>
              Orders
            </a>
          {{/if}}
          {{#if user.referat}}
            <a class="mdl-navigation__link mdl-color-text--light-blue-400" href="" onclick="loadUsers()">
              <i class="mdl-color-text--light-blue-400 material-icons" role="presentation">person</i>
              Users
            </a>
            <a class="mdl-navigation__link mdl-color-text--light-blue-400" href="" onclick="loadClasses(\'' + user.role + '\')">
              <i class="mdl-color-text--light-blue-400 material-icons" role="presentation">view_list</i>
              Classes
            </a>
            <a class="mdl-navigation__link mdl-color-text--light-blue-400" href="" onclick="loadRequests(\'' + user.role + '\')">
              <i class="mdl-color-text--light-blue-400 material-icons" role="presentation">help</i>
              Requests
            </a>
            <a class="mdl-navigation__link mdl-color-text--light-blue-400" href="" onclick="loadOrders(\'' + user.role + '\')">
              <i class="mdl-color-text--light-blue-400 material-icons" role="presentation">message</i>
              Orders
            </a>
          {{/if}}
          {{#if user.professor}}
            <a class="mdl-navigation__link mdl-color-text--light-blue-400" onclick="loadExams()">
              <i class="mdl-color-text--light-blue-400 material-icons" role="presentation">event</i>
              Exam dates
            </a>
          {{/if}}

        </nav>
      </div>

      {{{body}}}

    </div>
  </body>
</html>
