<main class="mdl-layout__content mdl-color--grey-100">
  <div class="center mdl-layout mdl-js-layout">
	  <div class="mdl-card mdl-shadow--6dp mdl-cell--4-col">
	    <div class="mdl-card__supporting-text">
        <div id="error" class="mdl-textfield mdl-js-textfield mdl-color-text--red-400">
        </div>
			  <form action="#" name="changePass">
				  <div class="mdl-textfield mdl-js-textfield">
					  <input class="mdl-textfield__input" type="password" id="password1" />
					  <label class="mdl-textfield__label" for="password1">New password</label>
				  </div>
				  <div class="mdl-textfield mdl-js-textfield">
					  <input class="mdl-textfield__input" type="password" id="password2" />
					  <label class="mdl-textfield__label" for="password2">Confirm new password</label>
				  </div>
			  </form>
		  </div>
		  <div class="mdl-card__actions mdl-card--border">
			  <button class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" onclick="changePwd()">Change password</button>
		  </div>
	  </div>
  </div>
</main>
