<main class="mdl-layout__content mdl-color--grey-100">
  <div class="mdl-grid content">
    <div class="cards mdl-cell mdl-cell--12-col mdl-cell--12-col-phone mdl-cell--12-col-tablet mdl-cell--12-col-desktop mdl-grid mdl-grid--no-spacing">
      <div class="classes mdl-card mdl-cell mdl-cell--12-col mdl-cell--12-col-phone mdl-cell--12-col-tablet mdl-cell--12-col-desktop">
        <div class="mdl-card__title mdl-card--expand mdl-color--blue-300">
          <h2 class="mdl-card__title-text">Add user</h2>
        </div>
        <div class="mdl-card__supporting-text">
          <div id="error" class="mdl-textfield mdl-js-textfield mdl-color-text--red-400 mdl-cell mdl-cell--7-col mdl-cell--7-col-phone mdl-cell--7-col-tablet mdl-cell--7-col-desktop">
          </div>
			    <form action="#">
				    <div class="mdl-textfield mdl-js-textfield mdl-cell mdl-cell--7-col mdl-cell--7-col-phone mdl-cell--7-col-tablet mdl-cell--7-col-desktop">
					    <input class="mdl-textfield__input" type="text" id="name" />
					    <label class="mdl-textfield__label" for="name">Name</label>
				    </div>
				    <div class="mdl-textfield mdl-js-textfield mdl-cell mdl-cell--7-col mdl-cell--7-col-phone mdl-cell--7-col-tablet mdl-cell--7-col-desktop">
					    <input class="mdl-textfield__input" type="text" id="lastname" />
					    <label class="mdl-textfield__label" for="lastname">Last name</label>
				    </div>
            <div class="mdl-cell mdl-cell--7-col mdl-cell--7-col-phone mdl-cell--7-col-tablet mdl-cell--7-col-desktop">
              <label>Role:
                <select id="role" name="role" >
                  <option value=""></option>
                  <option value="student">Student</option>
                  <option value="professor">Professor</option>
                  <option value="referat">Referat</option>
                </select>
              </label>
            </div>
            <div class="mdl-textfield mdl-js-textfield mdl-cell mdl-cell--7-col mdl-cell--7-col-phone mdl-cell--7-col-tablet mdl-cell--7-col-desktop">
					    <input class="mdl-textfield__input" type="text" id="street" />
					    <label class="mdl-textfield__label" for="street">Street</label>
				    </div>
            <div class="mdl-textfield mdl-js-textfield mdl-cell mdl-cell--7-col mdl-cell--7-col-phone mdl-cell--7-col-tablet mdl-cell--7-col-desktop">
					    <input class="mdl-textfield__input" type="number" id="post" />
					    <label class="mdl-textfield__label" for="post">Post</label>
				    </div>
            <div class="mdl-textfield mdl-js-textfield mdl-cell mdl-cell--7-col mdl-cell--7-col-phone mdl-cell--7-col-tablet mdl-cell--7-col-desktop">
					    <input class="mdl-textfield__input" type="text" id="city" />
					    <label class="mdl-textfield__label" for="city">City</label>
				    </div>
			    </form>
          <div class="mdl-card__actions mdl-card--border">
            <button class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-color-text--light-blue-400" onclick="addUser()">Add user</button>
          </div>
		    </div>
      </div>

      <div class="classes mdl-card mdl-cell mdl-cell--12-col mdl-cell--12-col-phone mdl-cell--12-col-tablet mdl-cell--12-col-desktop">
        <div class="mdl-card__title mdl-card--expand mdl-color--blue-300">
          <h2 class="mdl-card__title-text">Add class</h2>
        </div>
        <div class="mdl-card__supporting-text">
          <div id="errorcls" class="mdl-textfield mdl-js-textfield mdl-color-text--red-400 mdl-cell mdl-cell--7-col mdl-cell--7-col-phone mdl-cell--7-col-tablet mdl-cell--7-col-desktop">
          </div>
			    <form action="#">
				    <div class="mdl-textfield mdl-js-textfield mdl-cell mdl-cell--7-col mdl-cell--7-col-phone mdl-cell--7-col-tablet mdl-cell--7-col-desktop">
					    <input class="mdl-textfield__input" type="text" id="clsname" />
					    <label class="mdl-textfield__label" for="clsname">Class name</label>
				    </div>
            <div class="mdl-cell mdl-cell--7-col mdl-cell--7-col-phone mdl-cell--7-col-tablet mdl-cell--7-col-desktop">
              <label>Professor:
                <select id="professor" name="professor" >
                  <option value=""></option>
                  {{#each user.professors}}
                    <option value="{{this.userID}}">{{this.firstName}} {{this.lastName}}</option>
                  {{/each}}
                </select>
              </label>
            </div>
			    </form>
          <div class="mdl-card__actions mdl-card--border">
            <button class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-color-text--light-blue-400" onclick="addClass()">Add class</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
