<main class="mdl-layout__content mdl-color--grey-100">
  <div class="mdl-grid content">
    <div class="cards mdl-cell mdl-cell--12-col mdl-cell--12-col-phone mdl-cell--12-col-tablet mdl-cell--12-col-desktop mdl-grid mdl-grid--no-spacing">
      <div class="classes mdl-card mdl-cell mdl-cell--12-col mdl-cell--12-col-phone mdl-cell--12-col-tablet mdl-cell--12-col-desktop">
        <div class="mdl-card__title mdl-card--expand mdl-color--blue-300">
          <h2 class="mdl-card__title-text">Class name</h2>
        </div>

        {{#each user.classes}}
          <div class="bold mdl-card__supporting-text">
            <a>{{this.name}}</a>
          </div>

        {{/each}}
      </div>

      {{#if user.referat}}
        <div class="classes mdl-card mdl-cell mdl-cell--12-col mdl-cell--12-col-phone mdl-cell--12-col-tablet mdl-cell--12-col-desktop">
          <div class="mdl-card__title mdl-card--expand mdl-color--blue-300">
            <h2 class="mdl-card__title-text">Add user</h2>
          </div>
          <div class="bold mdl-card__supporting-text">
            <!-- ADD USER FORM -->
          </div>
        </div>

        <div class="classes mdl-card mdl-cell mdl-cell--12-col mdl-cell--12-col-phone mdl-cell--12-col-tablet mdl-cell--12-col-desktop">
          <div class="mdl-card__title mdl-card--expand mdl-color--blue-300">
            <h2 class="mdl-card__title-text">Add class</h2>
          </div>
          <div class="bold mdl-card__supporting-text">
            <!-- ADD CLASS FORM -->
          </div>
        </div>
      {{/if}}

    </div>
  </div>
</main>
