<main class="mdl-layout__content mdl-color--grey-100">
  <div class="mdl-grid content">
    <div class="cards mdl-cell mdl-cell--12-col mdl-cell--12-col-phone mdl-cell--12-col-tablet mdl-cell--12-col-desktop mdl-grid mdl-grid--no-spacing">
      <div class="classes mdl-card mdl-cell mdl-cell--8-col mdl-cell--3-col-phone mdl-cell--5-col-tablet mdl-cell--8-col-desktop">
        <div class="mdl-card__title mdl-card--expand mdl-color--blue-300">
          <h2 class="mdl-card__title-text">Class name</h2>
        </div>

        {{#each user.classes}}
          <div class="bold mdl-card__supporting-text">
            {{this.name}}
          </div>
        {{/each}}

      </div>
      <div class="classes mdl-card mdl-cell mdl-cell--4-col mdl-cell--1-col-phone mdl-cell--3-col-tablet mdl-cell--4-col-desktop">
        <div class="mdl-card__title mdl-card--expand mdl-color--blue-300">
          <h2 class="mdl-card__title-text">Mark</h2>
        </div>

        {{#each user.classes}}
          <div class="mdl-card__supporting-text">

            {{#if this._pivot_mark}}
              {{this._pivot_mark}}
            {{else}}
              &nbsp;
            {{/if}}

          </div>
        {{/each}}

      </div>
    </div>
  </div>
</main>
