.layout .header .mdl-textfield {
  padding: 0px;
  margin-top: 41px;
}
.layout .header .mdl-textfield .mdl-textfield__expandable-holder {
  bottom: 19px;
}

.header img {
  float: left;
  max-height: 20px;
  max-width: 40px;
}

.right {
  float: right;
}

.left {
  float: left;
}

.spacer {
  display: inline-block;
  padding-left: 30px;
}

.bigSpacer {
  display: inline-block;
  padding-left: 40%;
}

.fullWidth {
  width: 100%;
  text-align: left;
}

.strong {
  font-weight: bold;
}

.error {
  color: #f44253;
}

.error {
  height: 25px;
  margin: 25vh auto 0px auto;
  width: 30%;
}

.submit {
  border: none;
  background: #429bf4;
  padding: 5.5px 30px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  text-decoration: none;
  vertical-align: middle;
}

.submit:hover {
  color: #fff;
}

.login {
  margin: 0px auto;
  text-align: center;
  width: 30%;
}

.login label {
  font-weight: bold;
}

.login input[type='text'],
.login input[type='password'] {
  border-radius: 10px;
  border-width: 1px;
  border-color: #429bf4;
  width: 100%;
  height: 25px;
  margin-bottom: 20px;
}

.data {
  height: 73vh;
}

.navbar {
  height: 100%;
  width: 15%;
  border-right: 1px solid #b0b8c4;
  text-overflow: ellipsis;
  overflow: hidden;
}

.navbar ul {
  width: 100%;
  list-style-type: none;
  text-overflow: ellipsis;
  padding: 0px;
}

.navbar ul li {
  width: 100%;
  text-overflow: ellipsis;
}

.navbar a {
  width: 100%;
  text-overflow: ellipsis;
  text-decoration: none;
  color: #3d4147;
}

.general {
  height: 100%;
  width: 80%;
  overflow: auto;
}

.general label {
  float: left;
  clear: both;
}

.general #submit {
  float: left;
  clear: both;
  border: none;
  background: #429bf4;
  padding: 5.5px 30px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  text-decoration: none;
  vertical-align: middle;
}

.general form label{
  width: 100%;
  margin-bottom: 10px;
}

.general form textarea {
  width: 98%;
  height: 100px;
  resize: none;
}

.classes > div:not(:last-child) {
  border-bottom: 1px solid #b0b8c4;
}

.classes > div:first-child {
  border-bottom: none;
}

.referat {
  height: 30%;
  overflow: auto;
}

.professor {
  max-height: 25%;
  width: 100%;
  overflow: auto;
}

.student {
  max-height: 30%;
  width: 100%;
  overflow: auto;
}

.dropbtn {
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  background: #f1f1f1;
  min-width: 160px;
}

.person {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
}

.dropdown-content a {
  padding: 12px 16px;
  text-decoration: none;
  color: #3d4147;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.person:hover .dropdown-content {
  display: block;
}

html, body {
  font-family: 'Roboto', 'Helvetica', sans-serif;
}

.layout .mdl-layout__header .mdl-layout__drawer-button {
  color: rgba(0, 0, 0, 0.54);
}

.mdl-layout__drawer .avatar {
  margin-bottom: 16px;
}

.drawer {
  border: none;
}

/* iOS Safari specific workaround */
.drawer .mdl-menu__container {
  z-index: -1;
}

.drawer .navigation {
  z-index: -2;
}

/* END iOS Safari specific workaround */
.drawer .mdl-menu .mdl-menu__item {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.drawer-header {
  box-sizing: border-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  padding: 16px;
}

.avatar-dropdown {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
}

.navigation {
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.layout .navigation .mdl-navigation__link {
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: rgba(255, 255, 255, 0.56);
  font-weight: 500;
}

.layout .navigation .mdl-navigation__link:hover {
  background-color: #00BCD4;
  color: #37474F;
}

.navigation .mdl-navigation__link .material-icons {
  font-size: 24px;
  color: rgba(255, 255, 255, 0.56);
  margin-right: 32px;
}

.cards {
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  -ms-grid-row-align: flex-start;
  align-items: flex-start;
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
}

.cards .separator {
  height: 32px;
}

.cards .mdl-card__title.mdl-card__title {
  color: white;
  font-size: 24px;
  font-weight: 400;
}

.cards ul {
  padding: 0;
}

.cards h3 {
  font-size: 1em;
}

.cards .mdl-card__actions a {
  color: #00BCD4;
  text-decoration: none;
}

.cards .mdl-card {
  min-height: 0px;
  border-radius: 0%;
}

.classes .mdl-card__supporting-text {
  width: 100%;
}

.classes .bold {
  font-weight: bold;
}

.center {
  align-items: center;
  justify-content: center;
}
